<div class="checkout">
	<div class="section_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="checkout_container d-flex flex-xxl-row flex-column justify-content-start" style="margin-top: 40px;">
						<!-- Billing -->
                        <div class="row">
                            <div class="col-6">
                                <div class="checkout_title" style="
                                font-size: 30px; font-family: color: #212529;
                                font-family: 'Poppins', sans-serif;
                                ">NUEVO PRODUCTO</div>
                            </div>

                            <div class="col-6">
                                <a href="/contenido">
                                    <button type="submit" class="btn btn-sm" style="
                                        border-color: #22C5FE; 	
                                        width: 100px;
                                        text-align: center;
                                        padding-left: 3px;
                                        padding-right: 3px;
                                        color: #22C5FE; 
                                        margin-top: 5px;
                                        background-color: #212529;
                                        font-family: 'Poppins', sans-serif;
                                        text-transform: uppercase;
                                        font-size: 14px;
                                        ">VOLVER</button>
                                </a>
                            </div>
                            
                        </div>

                        <form style="margin-top: 30px;">
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label for="activo">Activo</label>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="codigo">C칩digo</label>
                                    <input type="text" class="form-control form-control-sm" id="codigo" placeholder="C칩digo">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control form-control-sm" id="nombre" placeholder="Nombre">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="descripcion">Descripci칩n</label>
                                <textarea class="form-control form-control-sm" id="descripcion" rows="2" style="
                                    font-family: 'Poppins', sans-serif;
                                    text-transform: uppercase;
                                    font-size: 14px;
                                "></textarea>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="costo">Costo</label>
                                    <input type="number" class="form-control form-control-sm" id="costo" placeholder="Costo">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="colores">Colores</label>
                                    <select id="colores" class="selectpicker form-control form-control-sm" multiple data-live-search="true">
                                        <option>Amarillo</option>
                                        <option>Azul</option>
                                        <option>Rojo</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="tamanios">Tama침os</label>
                                    <select id="tamanios" class="selectpicker form-control form-control-sm" multiple data-live-search="true">
                                        <option>M</option>
                                        <option>S</option>
                                        <option>XS</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="tamanios">Imagen principal</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="imagenprincipal" lang="es">
                                        <label class="custom-file-label" for="imagenprincipal">Seleccionar imagen</label>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-sm" style="
                                border-color: #22C5FE; 	
                                width: 100px;
                                text-align: center;
                                padding-left: 3px;
                                padding-right: 3px;
                                color: #22C5FE; 
                                margin-top: 5px;
                                background-color: #212529;
                                font-family: 'Poppins', sans-serif;
                                text-transform: uppercase;
                                font-size: 14px;
                                ">Guardar</button>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
