<!-- Home -->

<div class="home">
	<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/fondo.jpg" data-speed="0.8"></div>
	<div class="home_container">
		<div class="home_content">
			<div class="home_title" style="font-size: 30px;"><b>PAGO</b> </div>
			<div class="breadcrumbs">
				<ul class="d-flex flex-row align-items-center justify-content-start" >
					<li><a style="color: black;" href="/">INICIO</a></li>
					<li><a style="color: black;" href="/carrito">CARRITO</a></li>
					<li style="color: black;">PAGO</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Checkout -->

<div class="checkout">
	<div class="section_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="checkout_container d-flex flex-xxl-row flex-column align-items-start justify-content-start">
						
						<!-- Billing -->
						<div class="billing checkout_box">
							<div class="checkout_title">DIRECCIÓN DE ENVÍO</div>
							<div class="checkout_form_container">
								<form action="#" id="checkout_form" class="checkout_form">
									<div class="row">
										<div class="col-md-6">
											<!-- Name -->
											<label for="checkout_name">NOMBRES*</label>
											<input type="text" id="checkout_name" class="checkout_input" required="required">
										</div>
										<div class="col-md-6">
											<!-- Last Name -->
											<label for="checkout_last_name">APELLIDOS*</label>
											<input type="text" id="checkout_last_name" class="checkout_input" required="required">
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label for="checkout_email">CORREO ELECTRÓNICO*</label>
											<input type="phone" id="checkout_email" class="checkout_input" required="required">
										</div>
										<div class="col-md-6">
											<label for="checkout_phone">TELÉFONO*</label>
											<input type="phone" id="checkout_phone" class="checkout_input" required="required">

										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label for="checkout_country">PAIS*</label>
											<select name="checkout_country" id="checkout_country" class="dropdown_item_select checkout_input" require="required">
												<option>COLOMBIA</option>
												<option>ECUADOR</option>
												<option>PANAMÁ</option>
											</select>
										</div>
										<div class="col-md-6">
											<label for="checkout_zipcode">CÓDIGO POSTAL*</label>
											<input type="text" id="checkout_zipcode" class="checkout_input" required="required">

										</div>
									</div>
									<div>
										<!-- City / Town -->
										<label for="checkout_city">CIUDAD/CORREGIMIENTO*</label>
										<select name="checkout_city" id="checkout_city" class="dropdown_item_select checkout_input" require="required">
											<option>NEIVA</option>
											<option>RIVERA</option>
										</select>
									</div>
									<div>
										<!-- Address -->
										<label for="checkout_address">DIRECCIÓN*</label>
										<input type="text" id="checkout_address" class="checkout_input" required="required">
									</div>
									
									<div class="checkout_extra">
										<ul>
											<li class="billing_info d-flex flex-row align-items-center justify-content-start">
												<label class="checkbox_container">
													<input type="checkbox" id="cb_1" name="billing_checkbox" class="billing_checkbox">
													<span class="checkbox_mark"></span>
													<span class="checkbox_text">TÉRMINOS Y CONDICIONES</span>
												</label>
											</li>
											<li class="billing_info d-flex flex-row align-items-center justify-content-start">
												<label class="checkbox_container">
													<input type="checkbox" id="cb_2" checked="checked" name="billing_checkbox" class="billing_checkbox">
													<span class="checkbox_mark"></span>
													<span class="checkbox_text">CREAR UNA CUENTA</span>
												</label>
											</li>
										</ul>
									</div>
								</form>
							</div>
						</div>

						<!-- Cart Total -->
						<div class="cart_total">
							<div class="cart_total_inner checkout_box">
								<div class="checkout_title">Carrito total</div>
								<ul class="cart_extra_total_list">
									<li class="d-flex flex-row align-items-center justify-content-start">
										<div class="cart_extra_total_title">Subtotal</div>
										<div class="cart_extra_total_value ml-auto">$29.90</div>
									</li>
									<li class="d-flex flex-row align-items-center justify-content-start">
										<div class="cart_extra_total_title">Envío</div>
										<div class="cart_extra_total_value ml-auto">Gratis!</div>
									</li>
									<li class="d-flex flex-row align-items-center justify-content-start">
										<div class="cart_extra_total_title">Total</div>
										<div class="cart_extra_total_value ml-auto">$29.90</div>
									</li>
								</ul>

								<!-- Payment Options -->
								<div class="payment">
									<div class="payment_options">
										<label class="payment_option clearfix">PAGO CONTRA ENTREGA
											<input type="radio" checked="checked" name="radio">
											<span class="checkmark"></span>
										</label>
										<label class="payment_option clearfix">PAYPAL
											<input type="radio" name="radio">
											<span class="checkmark"></span>
										</label>
									</div>
								</div>

								<!-- Order Text -->
								<div class="order_text">La entrega tardará de 10 a 15 días hábiles</div>

								<div class="checkout_button trans_200"><a href="">REALIZAR PEDIDO</a></div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
