input {
    display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 0.75;
    vertical-align: center;
}
.button a {
	display: block;
	line-height: 47px;
	padding-left: 47px;
	padding-right: 47px;
	font-size: 14px;
	font-weight: 700;
	color: #414141;
	text-transform: uppercase;
}

.button_continue {
	background: #22C5FE;
}

.button_continue:hover {
	background: #414141;
}

.button_continue:hover a {
	color: #22C5FE;
}

.button_clear {
	background: #edf4f6;
}