<div class="home">
    <div class="home_slider_container">
        <div class="background_image" style="background-image:url(images/fondo.jpg)"></div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mx-auto pt-3 pt-md-5 mt-5 pl-3 pr-3 pl-md-0 pr-md-0">
                <div class="card" style="border-radius: 10px; background-color: #212529; border-color: #22C5FE; color: #fff;">
                    <form action="" method="post">
                        <div class="card-header" style="border-color: #22C5FE">
                            <div class="dropdown_text">Ingresar</div>
                        </div>
                        <div class="card-body">
                            <div class="input-group">
                                <label class="col-form-label col-md-4" for="user"><div class="dropdown_text">Usuario</div></label>
                                <div class="col-md-8 form-group">
                                    <input class="form-control form-control-sm" style="border-color: #22C5FE;" placeholder="Usuario" type="text" name="email" id="user">
                                </div>
                            </div>
                            <div class="input-group">
                                <label class="col-form-label col-md-4" for="pass"><div class="dropdown_text">Contraseña</div></label>
                                <div class="col-md-8 form-group">
                                    <input class="form-control form-control-sm" style="border-color: #22C5FE;" placeholder="Contraseña" type="password" name="pass" id="pass">
                                <a href="/ingresar/recuperarconstrasena"><div class="dropdown_text" style="color: #22C5FE; font-size: 9px;">¿Olvidó su contraseña?</div></a>
                                </div>
                            </div>
                            <center><p style="font-size: 13px; color: red;">{{ error }}</p></center> 
                        </div>
                        <div class="card-footer" style="border-color: #22C5FE">
                            <div class="input-group">
                                <button type="submit" class="btn btn-sm btn-block" style="
                                    border-color: #22C5FE; 
                                    color: #22C5FE; 
                                    background-color: #212529;
                                    font-family: 'Poppins', sans-serif;
                                    text-transform: uppercase;
                                    font-size: 14px;
                                    ">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            
            </div>
        </div>
    </div>
</div>  
