<div class="home">
    <div class="home_slider_container" style="display: flex; align-items: center; justify-content: center;">
        <div class="background_image" style="background-image:url(../images/fondo.jpg)"></div>
        <div class="card" style=" width: 600px; border-radius: 10px; background-color: #212529; border-color: #22C5FE; color: #fff;">
            <form action="" method="post">
                <div class="card-header" style="border-color: #22C5FE">
                    <div class="dropdown_text">Recuperar contraseña</div>
                </div>
                <div class="card-body">
                    <div class="input-group">
                        <label class="col-form-label col-md-6" for="email"><div class="dropdown_text">Correo Electrónico</div></label>
                        <div class="col-md-6 form-group">
                            <input class="form-control form-control-sm" minlength="9" maxlength="50" style="border-color: #22C5FE;" placeholder="Correo electrónico" type="email" name="email" id="email">
                        </div>
                    </div>
                    <div class="input-group">
                        <label class="col-form-label col-md-6" for="pass1"><div class="dropdown_text">Contraseña nueva</div></label>
                        <div class="col-md-6 form-group">
                            <input class="form-control form-control-sm" minlength="4" maxlength="20" style="border-color: #22C5FE;" placeholder="Contraseña nueva" type="password" name="pass" id="pass1">
                        </div>

                    </div>
                    <div class="input-group">
                        <label class="col-form-label col-md-6" for="pass2"><div class="dropdown_text">Repite la Contraseña</div></label>
                        <div class="col-md-6 form-group">
                            <input class="form-control form-control-sm" minlength="4" maxlength="20" style="border-color: #22C5FE;" placeholder="Repite la Contraseña" type="password" name="pass" id="pass2">
                        </div>
                    </div>
                </div>
                <div class="card-footer" style="border-color: #22C5FE">
                    <div class="input-group">
                        <div class="col-md-6 form-group">
                            <a href="/ingresar">
                                <button type="button" class="btn btn-sm btn-block" style="
                                    border-color: #22C5FE; 
                                    color: #22C5FE; 
                                    background-color: #212529;
                                    font-family: 'Poppins', sans-serif;
                                    text-transform: uppercase;
                                    font-size: 14px;
                                    ">Regresar</button>
                            </a>
                        </div>
                        <div class="col-md-6 form-group">
                            <button type="submit" class="btn btn-sm btn-block" style="
                                border-color: #22C5FE; 
                                color: #22C5FE; 
                                background-color: #212529;
                                font-family: 'Poppins', sans-serif;
                                text-transform: uppercase;
                                font-size: 14px;
                                ">Enviar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
