<div class="row" style="margin-top: 10px;">

    <div class="col-6 mx-auto" style="align-self: center; align-items: center; justify-content: center;">
        
        <center>
        <img src="/images/jeff.jpeg" width="300" height="300" alt="Sin foto">
        </center>
        <h5 style="font-weight: bold;"> Nombre: <span style="font-weight: lighter;"> Jeffrey Diaz </span> </h5>
        <h5 style="font-weight: bold;"> Edad: <span style="font-weight: lighter;"> Jeffrey Diaz </span> </h5>
        <h5 style="font-weight: bold;"> Nacimiento: <span style="font-weight: lighter;"> Jeffrey Diaz </span> </h5>
        <h5 style="font-weight: bold;"> Nombre: <span style="font-weight: lighter;"> Jeffrey Diaz </span> </h5>
    </div>

</div>