<div class="row">
    <div class="col-4 mx-auto">
        <form action="/parcial/tabla" method="POST">
            <input type="number" class="form-control form-control-sm" name="desde">
            <input type="number" class="form-control form-control-sm" name="hasta">
            <input type="number" class="form-control form-control-sm" name="tabla">
            <input type="number" class="form-control form-control-sm" name="salto">

            <br>
            <button type="submit" class="btn btn-sm btn-success">
                Calcular
            </button>
        </form>
    </div>
</div>