<div class="row">
    <div class="col-5 mx-auto">
        <div class="card text-center">
        <div class="card-body">
                <form action="/parcial/triangulo" method="POST">
                    <div class="row">
                        <div class="col-5 mx-auto">
                            <input class="form-control form-control-sm" name="numero" type="number">
                        </div>

                    </div>
                    <br>
                    <button type="submit" class="btn btn-sm btn-success">
                        Enviar
                    </button>
                </form>
        </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-5 mx-auto">
        <div class="card text-center">
            <div class="card-body">
                <img src="../images/celulares.jpg" width="100%" alt="">
            </div>
        </div>
    </div>
</div>